// Variables
$rounded: 4px;
$rounded-full: 999px;
$base-font: 18px;
$xsm: 8px;
$sm: 12px;
$md: 18px;
$lg: 28px;
$xlg: 40px;
$blue: rgb(47, 95, 229);
$gradient: linear-gradient(to top left, rgb(149, 81, 231), rgb(77, 206, 238));
$shadow-lg: 0 2px 40px #0002;

// Light Theme Colors
$light-theme: (
  bg-primary: hsl(236, 33%, 92%),
  bg-secondary: hsl(0, 0%, 98%),
  light-grayish-blue: hsl(233, 11%, 84%),
  dark-grayish-blue: hsl(236, 9%, 61%),
  very-dark-grayish-blue: hsl(235, 19%, 35%),
  img-url: '../images/bg-desktop-light.jpg',
  img-url-mobile: '../images/bg-mobile-light.jpg'
);

// Dark Theme Colors
$dark-theme: (
    bg-primary: hsl(235, 21%, 11%),
    bg-secondary: hsl(235, 24%, 19%),
    light-grayish-blue: hsl(234, 39%, 85%),
    dark-grayish-blue: hsl(234, 13%, 45%),
    very-dark-grayish-blue: hsl(232, 19%, 61%),
    img-url: '../images/bg-desktop-dark.jpg',
    img-url-mobile: '../images/bg-mobile-dark.jpg'
);
